/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-size: 62.5%;
  font-family: 'Solway', serif;
  font-family: 'Patua One', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Stoke', serif;
  font-family: 'Bree Serif', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Solway', serif;
  font-family: 'Patua One', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Stoke', serif;
  font-family: 'Bree Serif', serif;
}
/* UPDATED H1 FOR SPACE WALKERS*/
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.5rem;
  padding-top: 1.6rem;
  font-weight: 400;
}
p {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 1.2rem;
  font-family: 'Stoke', serif;
  font-weight: 550;
}
body {
  background-color: #fff3e0;
  margin: 7px;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  border: 1px groove #eeeeee;
}
.border {
  border: 1px solid red;
}
/*HEADER FONT COLORS*/
/*HERO FONTS COLORS*/
/*HEADER MARGINS*/
/*HERO MARGINS*/
/*TOP SECTION MARGINS*/
.bgImgCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
}
.hTopBorderRadius {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.txtEngraveFx {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
/*HEADER MIXINS*/
.hCoNameStyle {
  font-family: 'Stoke', serif;
  color: #f79905;
  font-size: 3.8rem;
  font-weight: 900;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
.navLinkStyle {
  text-decoration: none;
  color: #f79905;
  font-family: 'Stoke', serif;
  font-size: 1.8rem;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
/*HERO MIXINS*/
.hHeroTxtStyle {
  font-family: 'Stoke', serif;
  color: #f79905;
  font-weight: 400;
}
.heroTitle {
  font-family: 'Bree Serif', serif;
  color: #211a1a;
}
/*TOP SECTION MIXINS*/
.imgWrapPosRow3 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}
.imgResize {
  height: 15%;
  width: 25%;
}
.topTxtWrapStyle {
  display: flex;
  margin-left: 6.5%;
  margin-right: 6.5%;
}
.txtTopStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  margin-top: 3%;
  background-color: #f8f8f8;
  text-align: center;
  border: 3px solid #37474f;
  border-radius: 7px;
}
.rowWrap3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.pTxtRow3 {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
.contentShadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.heroImgWrap {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, transparent 2%, white), linear-gradient(to right, transparent 32%, white), url(/src/img/hero-home.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 400px;
  padding: 3.6rem;
}
.heroImgWrap .heroHeader {
  font-family: 'Stoke', serif;
  color: #f79905;
  font-weight: 400;
}
.heroBtnLearn {
  width: 170px;
  height: 50px;
  margin: 3.2rem;
  font-size: 1.8rem;
  font-family: 'Bree Serif', serif;
  border: 3px solid #44bf9c;
  background-color: #f8f8f8;
  color: #008e68;
  border-radius: 5px;
}
.heroBtnSignUp {
  width: 170px;
  height: 50px;
  margin: 3.2rem;
  font-size: 1.8rem;
  font-family: 'Bree Serif', serif;
  border: 3px solid #44bf9c;
  background-color: #f8f8f8;
  color: #008e68;
  border-radius: 5px;
}
.heroTxt {
  width: 65%;
  line-height: 25px;
  margin-top: 1.5rem;
}
/*TOP SECTION*/
.topWrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.topWrap .topHeader {
  padding-left: 32px;
  padding-top: 35px;
  padding-bottom: 35px;
  background: linear-gradient(to top, transparent 62%, #008e68), linear-gradient(to right, transparent 32%, #7bf2cd);
  background-color: #44bf9c;
  font-weight: 600;
  font-family: 'Stoke', serif;
  color: #f79905;
  border-top: 2px groove #7bf2cd;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
.topWrap .topTxtWrap {
  color: #37474f;
}
.topWrap .topImgWrap {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}
.topWrap .topTxtWrap {
  display: flex;
  margin-left: 6.5%;
  margin-right: 6.5%;
}
.txtRow3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  margin-top: 3%;
  background-color: #f8f8f8;
  text-align: center;
  border: 3px solid #37474f;
  border-radius: 7px;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
.imgRow3 {
  height: 15%;
  width: 25%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px groove #f79905;
  border-bottom: none;
}
#innerTxt1 {
  border: 1px solid #37474f;
  border-bottom: none;
  padding-bottom: 12px;
  padding-top: 10%;
  font-size: 4.2;
}
#innerTxt2 {
  border: 1px solid #37474f;
  border-top: none;
  font-size: 1.6rem;
  font-family: 'Bree Serif', serif;
  padding-bottom: 10%;
}
/*TOP IMG ADJ*/
#topImg1 {
  margin-right: 6%;
}
#topImg3 {
  margin-left: 6%;
}
/*TOP TEXT ADJ*/
#topTxt1 {
  margin-right: 4%;
  width: 80%;
}
#topTxt2 {
  width: 81%;
  margin-left: 3%;
  margin-right: 7%;
}
#topTxt3 {
  width: 81%;
}
.stampBttmWrap {
  display: flex;
  justify-content: space-between;
}
.stampImg {
  height: 32px;
  width: 32px;
  margin-top: -15px;
  margin-bottom: 10px;
  align-self: center;
}
.stampImg2 {
  height: 32px;
  width: 32px;
  margin-top: 10px;
  margin-bottom: -15px;
}
/**MID SECTION**/
.midWrap {
  background: linear-gradient(to right, transparent 5%, white), url(/src/img/mid-bg-home.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height: 285px;
  margin-top: 5.2rem;
  border-top: 2px groove #fafafa;
  border-bottom: 2px groove #fafafa;
}
.midWrap .midTxt {
  float: right;
  margin-top: 8%;
  margin-right: 10%;
  font-size: 1.8rem;
  color: #211a1a;
  width: 50%;
  font-weight: 400;
}
.bttmWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bttmWrap .bttmHeader {
  margin: 3.2rem;
  padding: 3.2rem;
}
.bttmWrap .bttmImgWrap {
  display: flex;
  justify-content: space-around;
}
.bttmWrap .bttmBtnJoin {
  width: 170px;
  height: 50px;
  margin: 3.2rem;
  font-size: 1.8rem;
  font-family: 'Bree Serif', serif;
  border: 3px solid #44bf9c;
  background-color: #f8f8f8;
  color: #008e68;
  border-radius: 5px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #44bf9c;
  border-top: 2px groove #f79905;
}
footer .bttmNavWrap {
  display: flex;
  justify-content: space-evenly;
  padding: 2.2rem;
}
footer .copyright {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #f79905;
  border-top: 2px groove #44bf9c;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  max-width: 100%;
  background-color: #44bf9c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px groove #008e68;
}
header .logoCompanyNameWrap {
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
}
header .logoCompanyNameWrap .companyName {
  font-family: 'Stoke', serif;
  color: #f79905;
  font-size: 3.8rem;
  font-weight: 900;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
header .headerLinkWrap {
  margin-right: 3.6rem;
}
header #myPassport {
  margin-right: 3.5rem;
}
.navAnchor {
  text-decoration: none;
  color: #f79905;
  font-family: 'Stoke', serif;
  font-size: 1.8rem;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
