
.aboutWrap{
    display: flex;
    flex-direction: column;
   
}
.aboutImgWrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100%;
    justify-content: center;
    padding: 4.8rem;
}

@contactIconDim: 3.6rem;
@pProfileTxt:2.8rem;

.profileWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.contactWrapAll {
    display: flex;
    align-items: center;
}

.contactWrap {
    margin-left: 3.2rem;
    font-size: 1.8rem;
    padding: 1.8rem;
}

.contactIcon{
    width: @contactIconDim;
    height:@contactIconDim;
    
}
.profileImg {
    width: 126px;
    height: 126px;
    vertical-align: middle;
    border-radius: 125px;
    margin-left: 35%;
}

.profileName {
    font-size: 24px;
    padding: @pProfileTxt;
}

.profileTitle {
    font-size: 32px;
}

.contactType{
    font-size: 2.1rem;
    font-weight: 900;
    margin-bottom: 8px;
}
.contactInfo{
    font-size: 1.8rem;
    font-style: italic;
}

.profileWrap2 {
    display: flex;
    flex-direction: row;
    margin-top: 4.5rem;


}


.specialThanks{
    text-align: center;
  font-size: .9rem;
}
p{
    font-size: 1.2rem;
}

